/*==================
 Header and Footer
===================*/


header,
footer {
	margin: 0 auto;
}

header {
	border-bottom: 2px black solid;
	margin-bottom: 20px;

}

header:after {
  content : ".";
  display : block;
  height : 0;
  clear : both;
  visibility : hidden;
}

.logo {
	width: 150px;
	float: left;
}

footer {
	margin-top: 10px;
	background: black;
	width: 100%;
}

footer p {
	color: white;
	padding: 10px;
}

nav {
	margin-top: 3.5em;
	margin-bottom: 0;
	text-align: center;
	float: left;
}

nav li {
	display: inline;
	margin: 0 2em 0 3em;
	font-size: 1em;
}


/*=================
	Fonts
===================*/
h1,
h2,
h3 {
  font-family: 'Delius', cursive;
  
}


li,
a,
p {
  font-family: sans-serif;
  font-size: .75em;
}

a {
  text-decoration: none;
  color: black;

}

ul {
  list-style: none;
}


/*=================
	Accordion 
===================*/

#spicy {
	background: yellow;

}

#raw {
	background: red;
	color: white;
}

#veg {
	background: green;
	color: white;
}

img {
	width: 200px;
	float: left;
}

#panel1 {
	font-color: white;
}

#bg1 {
	background: #5D741A;
	
}

#bg2 {
	background: #AEBF24;
}

#bg3 {
	background: #D87B23;
}

#bg4 {
	background: #BD3D10;
}

#bg5 {
	background: #8A2D0C;
}



/*=====================
	Contact
=======================*/

#contact {
	margin-top: 20px;
	margin-bottom: 20px;
}

#contact li {
	font-size: 1.1255em;
}

#gmap {
	height: 250px;
	width: 450px;
}